.App {
}

.nav-bar{
  width: 100%;
  padding:10px;
  background-color: black;
  font-size: 17px;
  color:#fff;
}

.main-container{
  padding:10px;
}

.input-line{
  padding:5px;
}

.input-line > input{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin:5px auto;
}

.input-line > button{
  width: 100px;
  height: 30px;
  display: block;
  margin:0 auto;
  background-color: #ccc;
  border:none
}

.modal-btn{
  width: 100px;
  height: 40px;
  text-align: center;
}

.modal{
  transition: all 0.3s;
  opacity: 1;
  margin-top:10px;
  padding:20px;
  background-color: #ccc;
}

.title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 5px;
}

.main-wrap{
  margin-top:5px;
  padding:10px;
  border-bottom: 1px solid #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
